<footer class="bottom-nav">
    <a href="/about">WHO'S WRITING THIS?</a>
    <a href="/contact">CAN I EMAIL HER?</a>
    <a href="/reading">WHAT ELSE IS SHE READING?</a>
</footer>
<script src="/js/main.js"></script>
</body>
</html>
