<header class="site-header">
    <div class="header-content">
        <img src="/tn (1).png" alt="" class="header-logo">
        <h1 class="site-title">
            <a href="/">HOME PAGE</a>
        </h1>
    </div>
</header>
